Welcome <%= @email %>
<br/><br/>
<p> Someone has requested a link to change your password, and you can do this through the link below: </p>
<br/><br/>
<%= link_to "Change My Password", edit_password_reset_url(@random_token) %>
<br/><br/>
Thanks <br/>
Hunger Game Team



