/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min.css
 *= require navbar-fixed-top.css
 *= require jquery-ui.min
 *= require colorbox.css
 */

.challenge_show_page th{width: 2%; }
.borderline{border-bottom: 1px solid black;}
input, select, textarea { width: 400px; }
#challenge_start_date{width: 150px;}
#challenge_end_date{width: 150px;}