<div style="width:100%">
	<div style="margin-left:30%;float:left;">
		<%= link_to image_tag("/assets/logo.png", :width => "500", :height => "100"), root_path %>
	</div>
	<% if current_user.present? && current_user.is_admin? %>
	<div style="float:left;">
		<li style="list-style: none;float:left;margin-left:2%;">
			<%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "btn btn-primary", :style=> "" %>
		</li>
	</div>
	<% end %>
</div>
<br><br><br><br><br>
